<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button ng-click="setAggregated(true)" type="button" class="btn " ng-class="{'btn-success': aggregated_view, 'btn-default': !aggregated_view}">Alle</button>
  </div>
  <div class="btn-group" role="group">
    <button ng-click="setAggregated(false)" type="button" class="btn " ng-class="{'btn-success': !aggregated_view, 'btn-default': aggregated_view}">Archiv</button>
  </div>
</div>